*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body{
    font-family: Arial, sans-serif;
    background-image: url('fundo_cadastro_2.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}


.container{
    background: rgba(0, 0, 0, 0.75); 
    border: 2px solid red;              
    box-shadow: 0 0 15px red;           
    width: 420px;
    padding: 45px;
    border-radius: 12px;
}


.container h1{
    text-align: center;
    color: white;
    font-size: 24px;
}

.container h3{
    color: white;
}

.first-row{
     display: flex;
}


.nome{
    width: 100%;
    margin-right: 40px;
}


.input-field{
    border: 1px solid white;
    border-radius: 5px;
}


.input-field input{
    width: 100%;
    border:none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
}


.selection{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.selection select{
    padding: 10px 20px;
    border-radius: 5px;
}


a{
    display: block;
    background-color: gray;
    color: white;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
    margin-top: 20px;
    border-radius: 5px;
    transition: 0.5s;
}


a:hover{
    background-color: blue;
}


.cards img{
    width: 120px;
    height: 60px;

}